<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <% if post.picture.present? %>
    <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
    <% end %>

    <% post.tags.each do |tag| %>
      <%= link_to tag.text %>
    <% end %>
  <% end %>
<% else %>
  There are no posts
<% end %>

<%= link_to 'New Post', new_post_path %>