<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Brickagram!</h1>
        <p>The content on this site has been created by <a href="https://github.com/csharpd">Chloe</a> and<a href="https://github.com/nikeshashar"> Nikesh</a> as part of a 12 week coding bootcamp at Makers Academy.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Sign Up</a>  
    <% end %></p>
      </div>
    </div>